In [1]:
import os
import pandas as pd

In [2]:
bhavavfile_path = './nifty-dataset/bhavadataset/'
nifty_category_file_path = './nifty-dataset/niftycategory/'

file_bhava_location = lambda x:bhavavfile_path + x
file_nifty_location = lambda x:nifty_category_file_path+ x
name = lambda b:( "-".join(b[1:len(b)-3]))
file_category_name_split = lambda x:x.split("-")

p1 =os.listdir(bhavavfile_path)
n1 =os.listdir(nifty_category_file_path)

category_names = list(map(name,map(lambda x:x.split("-"),n1)))


bhava_copy_file = file_bhava_location(p1[0])
nifty_files= list(map(file_nifty_location,n1))


dict_niftycategory_location = {k: v for k, v in zip(category_names, nifty_files)}
# print(dict_category_location)

In [3]:
bhava_copy_file

'./nifty-dataset/bhavadataset/sec_bhavdata_full_21022023.csv'

In [4]:
nifty_files

['./nifty-dataset/niftycategory/MW-NIFTY-200-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-SERVICES-SECTOR-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MEDIA-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-OIL-&-GAS-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-INDIA-MANUFACTURING-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MIDCAP150-QUALITY-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY100-ESG-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-INFRASTRUCTURE-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-AUTO-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY50-EQUAL-WEIGHT-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-100-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-PHARMA-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MNC-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-PSE-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY50-VALUE-20-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MIDCAP-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-NEXT-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-ENERGY-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-FINANCIAL-SERVICES-25_50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-ALPHA-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-METAL-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY100-QUALITY-30-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-COMMODITIES-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-GROWTH-SECTORS-15-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-SMALLCAP-250-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-IT-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-TOTAL-MARKET-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-PSU-BANK-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-DIVIDEND-OPPORTUNITIES-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-PRIVATE-BANK-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-HEALTHCARE-INDEX-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-INDIA-CONSUMPTION-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-SMALLCAP-100-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY500-MULTICAP-50 25 25-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MIDCAP-100-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY200-QUALITY-30-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-ALPHA-LOW-VOLATILITY-30-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MIDSMALLCAP-400-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-INDIA-DIGITAL-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MIDCAP-SELECT-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-BANK-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-FINANCIAL-SERVICES-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY200-MOMENTUM-30-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY100-LIQUID-15-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-FMCG-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-CPSE-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MICROCAP-250-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-CONSUMER-DURABLES-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-REALTY-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-SMALLCAP-50-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-LARGEMIDCAP-250-22-Feb-2023.csv',
 './nifty-dataset/niftycategory/MW-NIFTY-MIDCAP-150-22-Feb-2023.csv']

In [5]:
class Stragery():
    def __init__(self):
        self.stlist =[]
    def addtostlist(self,value):
        self.stlist.append(value)
        
def readbhavadatafile(filepath,series):
    """
     read the file consisting of all the listed entities in NSE
    """
    df = pd.read_csv(filepath,parse_dates=['DATE1'],skipinitialspace=' ')
    # consider only EQ for Series
    df_all = df.loc[df['SERIES'].isin(series)]
    # print(df_all)
    

    index=[a for a in range(len(df_all['SYMBOL'].tolist()))]
    
    #create a new dataframe for only EQ series and column as NSE
    
    nse_all = pd.DataFrame(data=df_all['SYMBOL'].values,index=index,columns=['NSE'])
    return (nse_all,df_all)

def readnifitystrategyfile(filepath):
    """
     to read the indiviual file of different nifty stratery 
     and return a dataframe
    """
    df = pd.read_csv(filepath,skipinitialspace=' ')
    
    # the convert dataframe  columns names 'SYMBOL \n' -> 'SYMBOL'
    df.columns = df.columns.str.replace('\n','').str.replace(' ','')
    
    return(df)

def newcolumnforstrategy(nse_all,newstrategy,sc):
    stragery= newstrategy[newstrategy.columns[0]].tolist()
    sc.addtostlist(stragery[0])
    newstrategy.drop(0,inplace=True)   # drop first data row (as first row is nifity50(catgeroy value))
   
    new_values = stragery[1:]
    
    column_name = stragery[0]
    print(column_name,"->>>>",len(new_values))
   
    nse_all[column_name]=nse_all['NSE'].isin(new_values)

def count_for_category(df,category):
    res = df[category].value_counts()[[0,1]]
    print("count",res[1])
    return res[1]
########################################################################


nse_all,bhav_all = readbhavadatafile(bhava_copy_file,series=['EQ','BE'])
sc = Stragery()

# stragery_files = [nifity_50_file,nifity_next_50_file,
#                   nifity_100_file,nifity_200_file
#                   ]
# print(nifty_files)
stragery_files = nifty_files

for file in stragery_files:
    df = pd.DataFrame()
    # print(df)
    df = readnifitystrategyfile(file)
    newcolumnforstrategy(nse_all,df,sc)

# print(nse_all)
nse_all= nse_all.replace({False: 0, True: 1})
# print(nse_all)
countsum = nse_all.drop(['NSE'],axis=1).apply("sum",axis=1)
nse_all['Count'] = countsum
# print(nse_all)
df_table = nse_all

category_count = {nse_all.columns[0]:len(nse_all['NSE'])}
print(nse_all.columns[1:-1])
for col in nse_all.columns[1:-1]:
    category_count.update({col :count_for_category(nse_all,col)})

# print(category_count)

NIFTY 200 ->>>> 200
NIFTY SERVICES SECTOR ->>>> 30
NIFTY MEDIA ->>>> 10
NIFTY OIL & GAS ->>>> 15
NIFTY INDIA MANUFACTURING ->>>> 77
NIFTY MIDCAP150 QUALITY 50 ->>>> 50
NIFTY100 ESG ->>>> 89
NIFTY INFRASTRUCTURE ->>>> 30
NIFTY AUTO ->>>> 15
NIFTY50 EQUAL WEIGHT ->>>> 50
NIFTY 100 ->>>> 100
NIFTY PHARMA ->>>> 20
NIFTY MNC ->>>> 30
NIFTY PSE ->>>> 20
NIFTY50 VALUE 20 ->>>> 20
NIFTY MIDCAP 50 ->>>> 50
NIFTY NEXT 50 ->>>> 50
NIFTY ENERGY ->>>> 10
NIFTY FINANCIAL SERVICES 25/50 ->>>> 20
NIFTY ALPHA 50 ->>>> 50
NIFTY METAL ->>>> 15
NIFTY100 QUALITY 30 ->>>> 30
NIFTY COMMODITIES ->>>> 30
NIFTY GROWTH SECTORS 15 ->>>> 15
NIFTY SMALLCAP 250 ->>>> 250
NIFTY IT ->>>> 10
NIFTY TOTAL MARKET ->>>> 751
NIFTY PSU BANK ->>>> 12
NIFTY DIVIDEND OPPORTUNITIES 50 ->>>> 50
NIFTY PRIVATE BANK ->>>> 10
NIFTY HEALTHCARE INDEX ->>>> 20
NIFTY INDIA CONSUMPTION ->>>> 30
NIFTY SMALLCAP 100 ->>>> 100
NIFTY500 MULTICAP 50:25:25 ->>>> 501
NIFTY MIDCAP 100 ->>>> 100
NIFTY200 QUALITY 30 ->>>> 30
NIFTY ALPHA LOW-VOLATILITY 30 ->>>> 30
NIFTY MIDSMALLCAP 400 ->>>> 400
NIFTY INDIA DIGITAL ->>>> 30
NIFTY 50 ->>>> 50
NIFTY MIDCAP SELECT ->>>> 25
NIFTY BANK ->>>> 12
NIFTY FINANCIAL SERVICES ->>>> 20
NIFTY200 MOMENTUM 30 ->>>> 30
NIFTY100 LIQUID 15 ->>>> 15
NIFTY FMCG ->>>> 15
NIFTY CPSE ->>>> 11
NIFTY MICROCAP 250 ->>>> 250
NIFTY CONSUMER DURABLES ->>>> 15
NIFTY REALTY ->>>> 10
NIFTY SMALLCAP 50 ->>>> 50
NIFTY LARGEMIDCAP 250 ->>>> 250
NIFTY MIDCAP 150 ->>>> 150
Index(['NIFTY 200', 'NIFTY SERVICES SECTOR', 'NIFTY MEDIA', 'NIFTY OIL & GAS',
       'NIFTY INDIA MANUFACTURING', 'NIFTY MIDCAP150 QUALITY 50',
       'NIFTY100 ESG', 'NIFTY INFRASTRUCTURE', 'NIFTY AUTO',
       'NIFTY50 EQUAL WEIGHT', 'NIFTY 100', 'NIFTY PHARMA', 'NIFTY MNC',
       'NIFTY PSE', 'NIFTY50 VALUE 20', 'NIFTY MIDCAP 50', 'NIFTY NEXT 50',
       'NIFTY ENERGY', 'NIFTY FINANCIAL SERVICES 25/50', 'NIFTY ALPHA 50',
       'NIFTY METAL', 'NIFTY100 QUALITY 30', 'NIFTY COMMODITIES',
       'NIFTY GROWTH SECTORS 15', 'NIFTY SMALLCAP 250', 'NIFTY IT',
       'NIFTY TOTAL MARKET', 'NIFTY PSU BANK',
       'NIFTY DIVIDEND OPPORTUNITIES 50', 'NIFTY PRIVATE BANK',
       'NIFTY HEALTHCARE INDEX', 'NIFTY INDIA CONSUMPTION',
       'NIFTY SMALLCAP 100', 'NIFTY500 MULTICAP 50:25:25', 'NIFTY MIDCAP 100',
       'NIFTY200 QUALITY 30', 'NIFTY ALPHA LOW-VOLATILITY 30',
       'NIFTY MIDSMALLCAP 400', 'NIFTY INDIA DIGITAL', 'NIFTY 50',
       'NIFTY MIDCAP SELECT', 'NIFTY BANK', 'NIFTY FINANCIAL SERVICES',
       'NIFTY200 MOMENTUM 30', 'NIFTY100 LIQUID 15', 'NIFTY FMCG',
       'NIFTY CPSE', 'NIFTY MICROCAP 250', 'NIFTY CONSUMER DURABLES',
       'NIFTY REALTY', 'NIFTY SMALLCAP 50', 'NIFTY LARGEMIDCAP 250',
       'NIFTY MIDCAP 150'],
      dtype='object')
count 200
count 30
count 10
count 15
count 77
count 50
count 89
count 30
count 15
count 50
count 100
count 20
count 30
count 20
count 20
count 50
count 50
count 10
count 20
count 50
count 15
count 30
count 30
count 15
count 250
count 10
count 751
count 12
count 50
count 10
count 20
count 30
count 100
count 501
count 100
count 30
count 30
count 400
count 30
count 50
count 25
count 12
count 20
count 30
count 15
count 15
count 11
count 250
count 15
count 10
count 50
count 250
count 150

In [6]:
sc.stlist,len(sc.stlist)

(['NIFTY 200',
  'NIFTY SERVICES SECTOR',
  'NIFTY MEDIA',
  'NIFTY OIL & GAS',
  'NIFTY INDIA MANUFACTURING',
  'NIFTY MIDCAP150 QUALITY 50',
  'NIFTY100 ESG',
  'NIFTY INFRASTRUCTURE',
  'NIFTY AUTO',
  'NIFTY50 EQUAL WEIGHT',
  'NIFTY 100',
  'NIFTY PHARMA',
  'NIFTY MNC',
  'NIFTY PSE',
  'NIFTY50 VALUE 20',
  'NIFTY MIDCAP 50',
  'NIFTY NEXT 50',
  'NIFTY ENERGY',
  'NIFTY FINANCIAL SERVICES 25/50',
  'NIFTY ALPHA 50',
  'NIFTY METAL',
  'NIFTY100 QUALITY 30',
  'NIFTY COMMODITIES',
  'NIFTY GROWTH SECTORS 15',
  'NIFTY SMALLCAP 250',
  'NIFTY IT',
  'NIFTY TOTAL MARKET',
  'NIFTY PSU BANK',
  'NIFTY DIVIDEND OPPORTUNITIES 50',
  'NIFTY PRIVATE BANK',
  'NIFTY HEALTHCARE INDEX',
  'NIFTY INDIA CONSUMPTION',
  'NIFTY SMALLCAP 100',
  'NIFTY500 MULTICAP 50:25:25',
  'NIFTY MIDCAP 100',
  'NIFTY200 QUALITY 30',
  'NIFTY ALPHA LOW-VOLATILITY 30',
  'NIFTY MIDSMALLCAP 400',
  'NIFTY INDIA DIGITAL',
  'NIFTY 50',
  'NIFTY MIDCAP SELECT',
  'NIFTY BANK',
  'NIFTY FINANCIAL SERVICES',
  'NIFTY200 MOMENTUM 30',
  'NIFTY100 LIQUID 15',
  'NIFTY FMCG',
  'NIFTY CPSE',
  'NIFTY MICROCAP 250',
  'NIFTY CONSUMER DURABLES',
  'NIFTY REALTY',
  'NIFTY SMALLCAP 50',
  'NIFTY LARGEMIDCAP 250',
  'NIFTY MIDCAP 150'],
 53)

In [7]:
nse_all

,NSE,NIFTY 200,NIFTY SERVICES SECTOR,NIFTY MEDIA,NIFTY OIL & GAS,NIFTY INDIA MANUFACTURING,NIFTY MIDCAP150 QUALITY 50,NIFTY100 ESG,NIFTY INFRASTRUCTURE,NIFTY AUTO,...,NIFTY100 LIQUID 15,NIFTY FMCG,NIFTY CPSE,NIFTY MICROCAP 250,NIFTY CONSUMER DURABLES,NIFTY REALTY,NIFTY SMALLCAP 50,NIFTY LARGEMIDCAP 250,NIFTY MIDCAP 150,Count
0,20MICRONS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,21STCENMGM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,360ONE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,3IINFOLTD,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3MINDIA,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,ZOTA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1980,ZUARI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,ZUARIIND,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1982,ZYDUSLIFE,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,10
1983,ZYDUSWELL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [8]:
options_list =[ { k:v for (k,v) in zip(sc.stlist,sc.stlist)} ]

In [9]:
options_list

[{'NIFTY 200': 'NIFTY 200',
  'NIFTY SERVICES SECTOR': 'NIFTY SERVICES SECTOR',
  'NIFTY MEDIA': 'NIFTY MEDIA',
  'NIFTY OIL & GAS': 'NIFTY OIL & GAS',
  'NIFTY INDIA MANUFACTURING': 'NIFTY INDIA MANUFACTURING',
  'NIFTY MIDCAP150 QUALITY 50': 'NIFTY MIDCAP150 QUALITY 50',
  'NIFTY100 ESG': 'NIFTY100 ESG',
  'NIFTY INFRASTRUCTURE': 'NIFTY INFRASTRUCTURE',
  'NIFTY AUTO': 'NIFTY AUTO',
  'NIFTY50 EQUAL WEIGHT': 'NIFTY50 EQUAL WEIGHT',
  'NIFTY 100': 'NIFTY 100',
  'NIFTY PHARMA': 'NIFTY PHARMA',
  'NIFTY MNC': 'NIFTY MNC',
  'NIFTY PSE': 'NIFTY PSE',
  'NIFTY50 VALUE 20': 'NIFTY50 VALUE 20',
  'NIFTY MIDCAP 50': 'NIFTY MIDCAP 50',
  'NIFTY NEXT 50': 'NIFTY NEXT 50',
  'NIFTY ENERGY': 'NIFTY ENERGY',
  'NIFTY FINANCIAL SERVICES 25/50': 'NIFTY FINANCIAL SERVICES 25/50',
  'NIFTY ALPHA 50': 'NIFTY ALPHA 50',
  'NIFTY METAL': 'NIFTY METAL',
  'NIFTY100 QUALITY 30': 'NIFTY100 QUALITY 30',
  'NIFTY COMMODITIES': 'NIFTY COMMODITIES',
  'NIFTY GROWTH SECTORS 15': 'NIFTY GROWTH SECTORS 15',
  'NIFTY SMALLCAP 250': 'NIFTY SMALLCAP 250',
  'NIFTY IT': 'NIFTY IT',
  'NIFTY TOTAL MARKET': 'NIFTY TOTAL MARKET',
  'NIFTY PSU BANK': 'NIFTY PSU BANK',
  'NIFTY DIVIDEND OPPORTUNITIES 50': 'NIFTY DIVIDEND OPPORTUNITIES 50',
  'NIFTY PRIVATE BANK': 'NIFTY PRIVATE BANK',
  'NIFTY HEALTHCARE INDEX': 'NIFTY HEALTHCARE INDEX',
  'NIFTY INDIA CONSUMPTION': 'NIFTY INDIA CONSUMPTION',
  'NIFTY SMALLCAP 100': 'NIFTY SMALLCAP 100',
  'NIFTY500 MULTICAP 50:25:25': 'NIFTY500 MULTICAP 50:25:25',
  'NIFTY MIDCAP 100': 'NIFTY MIDCAP 100',
  'NIFTY200 QUALITY 30': 'NIFTY200 QUALITY 30',
  'NIFTY ALPHA LOW-VOLATILITY 30': 'NIFTY ALPHA LOW-VOLATILITY 30',
  'NIFTY MIDSMALLCAP 400': 'NIFTY MIDSMALLCAP 400',
  'NIFTY INDIA DIGITAL': 'NIFTY INDIA DIGITAL',
  'NIFTY 50': 'NIFTY 50',
  'NIFTY MIDCAP SELECT': 'NIFTY MIDCAP SELECT',
  'NIFTY BANK': 'NIFTY BANK',
  'NIFTY FINANCIAL SERVICES': 'NIFTY FINANCIAL SERVICES',
  'NIFTY200 MOMENTUM 30': 'NIFTY200 MOMENTUM 30',
  'NIFTY100 LIQUID 15': 'NIFTY100 LIQUID 15',
  'NIFTY FMCG': 'NIFTY FMCG',
  'NIFTY CPSE': 'NIFTY CPSE',
  'NIFTY MICROCAP 250': 'NIFTY MICROCAP 250',
  'NIFTY CONSUMER DURABLES': 'NIFTY CONSUMER DURABLES',
  'NIFTY REALTY': 'NIFTY REALTY',
  'NIFTY SMALLCAP 50': 'NIFTY SMALLCAP 50',
  'NIFTY LARGEMIDCAP 250': 'NIFTY LARGEMIDCAP 250',
  'NIFTY MIDCAP 150': 'NIFTY MIDCAP 150'}]

In [10]:
selected_list = ['NIFTY 200', 'NIFTY MEDIA',]

In [11]:
query_dict = {k:" `{}`== {} ".format(v,1) for (k,v) in zip(sc.stlist,sc.stlist)}

In [12]:
query_dict

{'NIFTY 200': ' `NIFTY 200`== 1 ',
 'NIFTY SERVICES SECTOR': ' `NIFTY SERVICES SECTOR`== 1 ',
 'NIFTY MEDIA': ' `NIFTY MEDIA`== 1 ',
 'NIFTY OIL & GAS': ' `NIFTY OIL & GAS`== 1 ',
 'NIFTY INDIA MANUFACTURING': ' `NIFTY INDIA MANUFACTURING`== 1 ',
 'NIFTY MIDCAP150 QUALITY 50': ' `NIFTY MIDCAP150 QUALITY 50`== 1 ',
 'NIFTY100 ESG': ' `NIFTY100 ESG`== 1 ',
 'NIFTY INFRASTRUCTURE': ' `NIFTY INFRASTRUCTURE`== 1 ',
 'NIFTY AUTO': ' `NIFTY AUTO`== 1 ',
 'NIFTY50 EQUAL WEIGHT': ' `NIFTY50 EQUAL WEIGHT`== 1 ',
 'NIFTY 100': ' `NIFTY 100`== 1 ',
 'NIFTY PHARMA': ' `NIFTY PHARMA`== 1 ',
 'NIFTY MNC': ' `NIFTY MNC`== 1 ',
 'NIFTY PSE': ' `NIFTY PSE`== 1 ',
 'NIFTY50 VALUE 20': ' `NIFTY50 VALUE 20`== 1 ',
 'NIFTY MIDCAP 50': ' `NIFTY MIDCAP 50`== 1 ',
 'NIFTY NEXT 50': ' `NIFTY NEXT 50`== 1 ',
 'NIFTY ENERGY': ' `NIFTY ENERGY`== 1 ',
 'NIFTY FINANCIAL SERVICES 25/50': ' `NIFTY FINANCIAL SERVICES 25/50`== 1 ',
 'NIFTY ALPHA 50': ' `NIFTY ALPHA 50`== 1 ',
 'NIFTY METAL': ' `NIFTY METAL`== 1 ',
 'NIFTY100 QUALITY 30': ' `NIFTY100 QUALITY 30`== 1 ',
 'NIFTY COMMODITIES': ' `NIFTY COMMODITIES`== 1 ',
 'NIFTY GROWTH SECTORS 15': ' `NIFTY GROWTH SECTORS 15`== 1 ',
 'NIFTY SMALLCAP 250': ' `NIFTY SMALLCAP 250`== 1 ',
 'NIFTY IT': ' `NIFTY IT`== 1 ',
 'NIFTY TOTAL MARKET': ' `NIFTY TOTAL MARKET`== 1 ',
 'NIFTY PSU BANK': ' `NIFTY PSU BANK`== 1 ',
 'NIFTY DIVIDEND OPPORTUNITIES 50': ' `NIFTY DIVIDEND OPPORTUNITIES 50`== 1 ',
 'NIFTY PRIVATE BANK': ' `NIFTY PRIVATE BANK`== 1 ',
 'NIFTY HEALTHCARE INDEX': ' `NIFTY HEALTHCARE INDEX`== 1 ',
 'NIFTY INDIA CONSUMPTION': ' `NIFTY INDIA CONSUMPTION`== 1 ',
 'NIFTY SMALLCAP 100': ' `NIFTY SMALLCAP 100`== 1 ',
 'NIFTY500 MULTICAP 50:25:25': ' `NIFTY500 MULTICAP 50:25:25`== 1 ',
 'NIFTY MIDCAP 100': ' `NIFTY MIDCAP 100`== 1 ',
 'NIFTY200 QUALITY 30': ' `NIFTY200 QUALITY 30`== 1 ',
 'NIFTY ALPHA LOW-VOLATILITY 30': ' `NIFTY ALPHA LOW-VOLATILITY 30`== 1 ',
 'NIFTY MIDSMALLCAP 400': ' `NIFTY MIDSMALLCAP 400`== 1 ',
 'NIFTY INDIA DIGITAL': ' `NIFTY INDIA DIGITAL`== 1 ',
 'NIFTY 50': ' `NIFTY 50`== 1 ',
 'NIFTY MIDCAP SELECT': ' `NIFTY MIDCAP SELECT`== 1 ',
 'NIFTY BANK': ' `NIFTY BANK`== 1 ',
 'NIFTY FINANCIAL SERVICES': ' `NIFTY FINANCIAL SERVICES`== 1 ',
 'NIFTY200 MOMENTUM 30': ' `NIFTY200 MOMENTUM 30`== 1 ',
 'NIFTY100 LIQUID 15': ' `NIFTY100 LIQUID 15`== 1 ',
 'NIFTY FMCG': ' `NIFTY FMCG`== 1 ',
 'NIFTY CPSE': ' `NIFTY CPSE`== 1 ',
 'NIFTY MICROCAP 250': ' `NIFTY MICROCAP 250`== 1 ',
 'NIFTY CONSUMER DURABLES': ' `NIFTY CONSUMER DURABLES`== 1 ',
 'NIFTY REALTY': ' `NIFTY REALTY`== 1 ',
 'NIFTY SMALLCAP 50': ' `NIFTY SMALLCAP 50`== 1 ',
 'NIFTY LARGEMIDCAP 250': ' `NIFTY LARGEMIDCAP 250`== 1 ',
 'NIFTY MIDCAP 150': ' `NIFTY MIDCAP 150`== 1 '}

In [13]:
ans =""
for v in selected_list:
    if v in query_dict:
        if ans!="":
            ans = ans +' &'
        ans = ans + (query_dict[v])
ans

' `NIFTY 200`== 1  & `NIFTY MEDIA`== 1 '

In [14]:
result_query =nse_all.query("{}".format(ans))

In [15]:
result_query.head()

,NSE,NIFTY 200,NIFTY SERVICES SECTOR,NIFTY MEDIA,NIFTY OIL & GAS,NIFTY INDIA MANUFACTURING,NIFTY MIDCAP150 QUALITY 50,NIFTY100 ESG,NIFTY INFRASTRUCTURE,NIFTY AUTO,...,NIFTY100 LIQUID 15,NIFTY FMCG,NIFTY CPSE,NIFTY MICROCAP 250,NIFTY CONSUMER DURABLES,NIFTY REALTY,NIFTY SMALLCAP 50,NIFTY LARGEMIDCAP 250,NIFTY MIDCAP 150,Count
1717,SUNTV,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,11
1967,ZEEL,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,11